@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.flex-logo {
  width: 100%;
  display: block;
  background-color: #FBB03B;
}

.left {
  float: left;
}

#header {
  background-color: #FFF!important;
  padding: 0!important;
  position: fixed!important;
}

.header-inner {
padding: 0!important;
}

.force-mobile-nav .mobile-nav-toggle-label .top-bar, .force-mobile-nav .mobile-nav-toggle-label .middle-bar, .force-mobile-nav .mobile-nav-toggle-label .bottom-bar {
background-color: #FBB03B!important;
}

h1 {
font-family: sans-serif!important;
text-transform: uppercase!important;
font-size: 1em!important;
color: #FBB03B!important;
margin: 0!important;
padding: 1.1em!important;
}

#sidecarNav {
  background-color: #FFF!important;
}

#headerNav nav a, #sidecarNav nav a, #headerNav nav a:visited, #sidecarNav nav a:visited, #headerNav nav label, #sidecarNav nav label {
font-family: sans-serif!important;
font-size: 1em!important;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 1px;
font-weight: 600;
font-style: normal;
line-height: 1em;
color: #646469!important;
}

#headerNav nav a:hover,
#sidecarNav nav a:hover,
#headerNav nav a:visited:hover,
#sidecarNav nav a:visited:hover,
#headerNav nav label:hover,
#sidecarNav nav label:hover {
  color: #FBB03B!important;
}

.nav-button-corner-style-pill.enable-nav-button #headerNav nav>div:not(.folder):last-child a, .nav-button-corner-style-pill.enable-nav-button #sidecarNav nav>div:not(.folder):last-child a {
 -webkit-border-radius: 0!important;
 border-radius: 0px!important;
}

.nav-button-style-outline.enable-nav-button #headerNav nav>div:not(.folder):last-child a, .nav-button-style-outline.enable-nav-button #sidecarNav nav>div:not(.folder):last-child a {
background-color: transparent;
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
border: none!important;
color: #fff;
}

.force-mobile-nav.enable-nav-button #sidecarNav nav>div:not(.folder):last-child a {
display: inline-block;
margin: 0!important;
line-height: 1;
padding: 0!important;
}

.enable-nav-button #headerNav nav>div:not(.folder):last-child a, .enable-nav-button #sidecarNav nav>div:not(.folder):last-child a {
padding: 0!important;
}
