@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* BASIC CODE */
.mobile {
  display: block;
}

.desktop {
  display: none;
}

.h1-visibility {
  display: none!important;
}

.flex-logo {
  width: 100%;
  display: block;
  background-color: #FBB03B;
}

.left {
  float: left;
}

.social-icons {
  text-align: right;
  display: none!important;
}

.flex-social {
  width: 100%;
  display: block;
}

/* Header & Mobile Nav */
#header {
  background-color: #FFF!important;
  padding: 0!important;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
-webkit-transition: height 0.3s;
-moz-transition: height 0.3s;
-ms-transition: height 0.3s;
-o-transition: height 0.3s;
transition: height 0.3s;
}

.header-inner {
padding: 0!important;
}

#headerNav nav a, #sidecarNav nav a, #headerNav nav a:visited, #sidecarNav nav a:visited, #headerNav nav label, #sidecarNav nav label {
font-family: sans-serif!important;
font-size: 1em!important;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 1px;
font-weight: 600;
font-style: normal;
line-height: 1em;
color: #646469!important;
}

#headerNav nav a:hover,
#sidecarNav nav a:hover,
#headerNav nav a:visited:hover,
#sidecarNav nav a:visited:hover,
#headerNav nav label:hover,
#sidecarNav nav label:hover {
  color: #FBB03B!important;
}

#headerNav nav .active>a, #sidecarNav nav .active>a {
  color: #FBB03B!important;
}

#headerNav nav a, #sidecarNav nav a, #headerNav nav a:visited, #sidecarNav nav a:visited, #headerNav nav label, #sidecarNav nav label {
font-weight: 400!important;
letter-spacing: 0!important;
transition: color 0.55s ease 0;
}

.mobile-nav-toggle-label .top-bar, .mobile-nav-toggle-label .middle-bar, .mobile-nav-toggle-label .bottom-bar {
background-color: #FBB03B!important;
}

.force-mobile-nav .mobile-nav-toggle-label .top-bar, .force-mobile-nav .mobile-nav-toggle-label .middle-bar, .force-mobile-nav .mobile-nav-toggle-label .bottom-bar {
background-color: #FBB03B!important;
}

.force-mobile-nav .mobile-nav-toggle-label {
position: relative;
right: 10px!important;
}

.nav-button-corner-style-pill.enable-nav-button #headerNav nav>div:not(.folder):last-child a, .nav-button-corner-style-pill.enable-nav-button #sidecarNav nav>div:not(.folder):last-child a {
 -webkit-border-radius: 0!important;
 border-radius: 0px!important;
}

.nav-button-style-outline.enable-nav-button #headerNav nav>div:not(.folder):last-child a, .nav-button-style-outline.enable-nav-button #sidecarNav nav>div:not(.folder):last-child a {
background-color: transparent;
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
border: none!important;
color: #fff;
}

.force-mobile-nav.enable-nav-button #sidecarNav nav>div:not(.folder):last-child a {
display: inline-block;
margin: 0!important;
line-height: 1;
padding: .5em 0!important;

}

.enable-nav-button #headerNav nav>div:not(.folder):last-child a, .enable-nav-button #sidecarNav nav>div:not(.folder):last-child a {
padding: .5em 0!important;
}

.enable-nav-button #sidecarNav nav>div:not(.folder):last-child a {
  font-weight: 400!important;
}

#sidecarNav {
width: 80%!important;
z-index: 1!important;
}

#sidecarNav nav {
padding: 1em!important;
}

#sidecarNav {
  background-color: #FFF!important;
}

.force-mobile-nav #mobileNavToggle:checked~#siteWrapper {
position: fixed;
-webkit-transform: translatex(-140px)!important;
-webkit-transform: translate3d(-140px,0,0)!important;
-moz-transform: translatex(-140px) translatez(0)!important;
-moz-transform: translate3d(-2140x,0,0)!important;
-ms-transform: translatex(-140px) translatez(0)!important;
-ms-transform: translate3d(-140px,0,0)!important;
-o-transform: translatex(-140px) translatez(0)!important;
-o-transform: translate3d(-140px,0,0)!important;
transform: translatex(-140px) translatez(0)!important;
transform: translate3d(-140px,0,0)!important;
}

/* H1, H2, etc */
h1 {
text-transform: uppercase!important;
font-size: 1.5em !important;
color: #14aaff !important;
margin: 0 !important;
padding: 0.8em 0.5em !important;
line-height: initial!important;
}

h3 {
  font-weight: 600!important;
  text-align: center;
}

/* FOOTER */
.html-block a:not(.sqs-block-button-element), .markdown-block a:not(.sqs-block-button-element), .entry-more-link a:not(.sqs-block-button-element), .foursquare-block a:not(.sqs-block-button-element), .rss-block a:not(.sqs-block-button-element), .layout-caption-below .image-caption a:not(.sqs-block-button-element), .summary-excerpt a:not(.sqs-block-button-element), .album-description a:not(.sqs-block-button-element), .product-excerpt a:not(.sqs-block-button-element), .product-description a:not(.sqs-block-button-element), .eventlist-excerpt a:not(.sqs-block-button-element), .html-block a:not(.sqs-block-button-element):visited, .markdown-block a:not(.sqs-block-button-element):visited, .entry-more-link a:not(.sqs-block-button-element):visited, .twitter-block a:not(.sqs-block-button-element):visited, .foursquare-block a:not(.sqs-block-button-element):visited, .rss-block a:not(.sqs-block-button-element):visited, .layout-caption-below .image-caption a:not(.sqs-block-button-element):visited, .summary-excerpt a:not(.sqs-block-button-element):visited, .album-description a:not(.sqs-block-button-element):visited, .product-excerpt a:not(.sqs-block-button-element):visited, .product-description a:not(.sqs-block-button-element):visited, .eventlist-excerpt a:not(.sqs-block-button-element):visited {
color: #3AC0DF!important;
text-decoration: none;
}

.tweet-text {
color: black;
}

.twitter-block a:not(.sqs-block-button-element) {
  color: #646469!important;
}

.twitter-block {
padding: 0 1em!important;
}


/* 213px */
@media only screen and (min-width: 13em) {
  .force-mobile-nav #mobileNavToggle:checked~#siteWrapper {
position: fixed;
-webkit-transform: translatex(-170px)!important;
-webkit-transform: translate3d(-170px,0,0)!important;
-moz-transform: translatex(-170px) translatez(0)!important;
-moz-transform: translate3d(-170x,0,0)!important;
-ms-transform: translatex(-170px) translatez(0)!important;
-ms-transform: translate3d(-170px,0,0)!important;
-o-transform: translatex(-170px) translatez(0)!important;
-o-transform: translate3d(-170px,0,0)!important;
transform: translatex(-170px) translatez(0)!important;
transform: translate3d(-170px,0,0)!important;
}
}

/* 240px */
@media only screen and (min-width: 15em) {
#mobileNavToggle:checked~#siteWrapper {
position: fixed;
height: 100%;
-webkit-transform: translate3d(-192px,0,0)!important;
-moz-transform: translate3d(-192px,0,0)!important;
-ms-transform: translate3d(-192px,0,0)!important;
-o-transform: translate3d(-192px,0,0)!important;
transform: translate3d(-192px,0,0)!important;
}

.enable-nav-button #headerNav nav>div:not(.folder):last-child a, .enable-nav-button #sidecarNav nav>div:not(.folder):last-child a {
margin: 0!important;
padding: .76em 0em !important;
}

.enable-nav-button #headerNav nav>div:not(.folder):last-child a, .enable-nav-button #sidecarNav nav>div:not(.folder):last-child a {
  padding: .76em 0!important;
}
}

/* 320px */
@media only screen and (min-width: 20em) {
  .h1-visibility {
    display: block!important;
  }
  #sidecarNav {
width: 60% !important;
}
}

/* 360 px */
@media only screen and (min-width: 22em) {
  h1 {
    font-size: .75em !important;
  }

  #sidecarNav {
width: 54% !important;
}

.social-icons {
text-align: right;
display: block !important;
padding: 8.1% 0;
}
}

/* 400 px */
@media only screen and (min-width: 25em) {
  #mobileNavToggle:checked~#siteWrapper {
position: fixed;
height: 100%;
-webkit-transform: translate3d(-215px,0,0) !important;
-moz-transform: translate3d(-215px,0,0) !important;
-ms-transform: translate3d(-215px,0,0) !important;
-o-transform: translate3d(-215px,0,0) !important;
transform: translate3d(-215px,0,0) !important;
}

#mobileNavToggle:checked~.body-overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 9999;
cursor: e-resize;
-webkit-transform: translatex(-215px) translatez(0);
-moz-transform: translatex(-215px) translatez(0);
-ms-transform: translatex(-215px) translatez(0);
-o-transform: translatex(-215px) translatez(0);
transform: translatex(-215px) translatez(0);
}
}

