@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* BASIC CODE */
.mobile {
  display: block;
}

.desktop {
  display: none;
}

#content {
	padding: 2em 2em 0!important;
}

.h1-visibility {
  display: none!important;
}

.flex-logo {
  width: 100%;
  display: block;
}

.left {
  float: left;
}

.social-icons {
  text-align: right;
  display: none!important;
}

.flex-social {
  width: 100%;
  display: block;
}

.sqs-layout .sqs-row .sqs-block:first-child {
padding: 0px !important;
}

/* PAGE PADDING */
#page, #preFooter {
padding: 1em 1em 0 1em!important;
}

.sqs-layout .sqs-row .sqs-block:last-child {
 padding-bottom: 0px !important;
}

.footer-inner, .pre-footer-inner .sqs-layout {
padding: 0!important;
}

#footer {
  padding: 1em;
}

/* POP UP */
#block-yui_3_17_2_1_1421612828616_142373 {
height: 0;
padding: 0;
}

/* Header & Mobile Nav */
#header {
  background-color: #FFF!important;
  padding: 0!important;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  position: inherit!important;
-webkit-transition: height 0.3s;
-moz-transition: height 0.3s;
-ms-transition: height 0.3s;
-o-transition: height 0.3s;
transition: height 0.3s;
}

.header-inner {
padding: 0!important;
}

#headerNav nav a, #sidecarNav nav a, #headerNav nav a:visited, #sidecarNav nav a:visited, #headerNav nav label, #sidecarNav nav label {
font-family: sans-serif!important;
font-size: 1em!important;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 1px;
font-weight: 600;
font-style: normal;
line-height: 1em;
color: #646469!important;
}

#headerNav nav a:hover,
#sidecarNav nav a:hover,
#headerNav nav a:visited:hover,
#sidecarNav nav a:visited:hover,
#headerNav nav label:hover,
#sidecarNav nav label:hover {
  color: #FBB03B!important;
}

#headerNav nav .active>a, #sidecarNav nav .active>a {
  color: #FBB03B!important;
}

#headerNav nav a, #sidecarNav nav a, #headerNav nav a:visited, #sidecarNav nav a:visited, #headerNav nav label, #sidecarNav nav label {
font-weight: 400!important;
letter-spacing: 0!important;
transition: color 0.55s ease 0;
}

.mobile-nav-toggle-label .top-bar, .mobile-nav-toggle-label .middle-bar, .mobile-nav-toggle-label .bottom-bar {
background-color: #FBB03B!important;
}

.force-mobile-nav .mobile-nav-toggle-label .top-bar, .force-mobile-nav .mobile-nav-toggle-label .middle-bar, .force-mobile-nav .mobile-nav-toggle-label .bottom-bar {
background-color: #FBB03B!important;
}

.force-mobile-nav .mobile-nav-toggle-label {
position: relative;
right: 10px!important;
}

.nav-button-corner-style-pill.enable-nav-button #headerNav nav>div:not(.folder):last-child a, .nav-button-corner-style-pill.enable-nav-button #sidecarNav nav>div:not(.folder):last-child a {
 -webkit-border-radius: 0!important;
 border-radius: 0px!important;
}

.nav-button-style-outline.enable-nav-button #headerNav nav>div:not(.folder):last-child a, .nav-button-style-outline.enable-nav-button #sidecarNav nav>div:not(.folder):last-child a {
background-color: transparent;
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
border: none!important;
color: #fff;
}

.force-mobile-nav.enable-nav-button #sidecarNav nav>div:not(.folder):last-child a {
display: inline-block;
margin: 0!important;
line-height: 1;
padding: .5em 0!important;

}

.enable-nav-button #headerNav nav>div:not(.folder):last-child a, .enable-nav-button #sidecarNav nav>div:not(.folder):last-child a {
padding: .5em 0!important;
}

.enable-nav-button #sidecarNav nav>div:not(.folder):last-child a {
  font-weight: 400!important;
}

#sidecarNav {
width: 80%!important;
z-index: 1!important;
}

#sidecarNav nav {
padding: 1em!important;
}

#sidecarNav {
  background-color: #FFF!important;
}

.force-mobile-nav #mobileNavToggle:checked~#siteWrapper {
position: fixed;
-webkit-transform: translatex(-140px)!important;
-webkit-transform: translate3d(-140px,0,0)!important;
-moz-transform: translatex(-140px) translatez(0)!important;
-moz-transform: translate3d(-2140x,0,0)!important;
-ms-transform: translatex(-140px) translatez(0)!important;
-ms-transform: translate3d(-140px,0,0)!important;
-o-transform: translatex(-140px) translatez(0)!important;
-o-transform: translate3d(-140px,0,0)!important;
transform: translatex(-140px) translatez(0)!important;
transform: translate3d(-140px,0,0)!important;
}

.header-inner .mobile-nav-toggle-label {
display: block!important;
}

.force-mobile-nav #mainNavWrapper {
background-color: transparent!important;
-webkit-overflow-scrolling: touch;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-transform: block!important;
-moz-transform: block!important;
-ms-transform: block!important;
-o-transform: block!important;
transform: block!important;
-webkit-transition: -webkit-transform 0s 0s ease-in-out;
-moz-transition: -moz-transform 0s 0s ease-in-out;
-ms-transition: -ms-transform 0s 0s ease-in-out;
-o-transition: -o-transform 0s 0s ease-in-out;
transition: transform 0s 0s ease-in-out;
}

/* HEADER BANNER */
#promotedGalleryWrapper .color-overlay, .promoted-gallery-wrapper .color-overlay, .banner-thumbnail-wrapper .color-overlay, .sqs-featured-posts-gallery .color-overlay {
display: none;
}

#block-yui_3_17_2_2_1423620543496_77711 {
padding: 0;
}

/* H1, H2, etc */
#header h1 {
text-transform: uppercase!important;
color: #fbb03b!important;
margin: 0 !important;
padding: 6px 0.5em!important;
line-height: initial !important;
}

/* SCHEDULE ACCORDION */
 .acc-container {
  width:90%;
  overflow:hidden;
}

.acc-btn { 
  width:100%;
  margin:0 auto;
  padding:1em;
  cursor:pointer;
  border-bottom:1px solid #646469;
}

.acc-content {
  height:0px;
  width:100%;
  margin:0 auto;
  overflow:hidden;
}

.acc-content-inner {
  padding: 1em;
}

.acc-content-inner div {
padding: 0 0.5em;
}

.open {
  height: auto;
}
.selected {
  color:#fbb03b;
}

/* JOIN US */
.html-block a:not(.sqs-block-button-element) {
  color: #3AC0DF!important;
font-family: "Lato", sans-serif;
text-transform: uppercase;
border: solid 2px #3AC0DF;
border-radius: 5px;
padding: 0.5em 1em;
font-weight: 600;
font-size: .5em !important;
transition: all .55s ease 0;
display: block;
text-align: center;
}

.html-block a:not(.sqs-block-button-element):hover {
  background-color: #3AC0DF;
  color: #FFF!important;
}

.image-caption {
text-align: center;
 color: #3AC0DF!important;
font-family: "Lato", sans-serif;
text-transform: uppercase;
}

/* EVENTS */
.eventlist-title {
margin: 0 !important;
}

.eventlist-meta {
margin: 0!important;
}

#block-yui_3_17_2_2_1424039084912_6486 {
padding-bottom: 0;
}

.sqs-block-summary-v2 a:hover, .sqs-block-summary-v2 a:visited {
color: #3AC0DF!important;
}

/* PRE FOOTER */
.pre-footer-content a {
 margin-right: 0!important;
font-size: 0.45em!important;
letter-spacing: 1px!important;
margin-bottom: 1em!important;
display: block;
}
.pre-footer-content h2 {
  color: #646469!important;
  padding-bottom: 1em;
  margin: 0;
}

.sqs-block-content > h2{
  color: #3AC0DF !important;
  font-weight:600 !important;
  padding-bottom: 0;
  margin: 0 auto 3px;
}
.sqs-block-content > p{
  margin:0 auto 20px;
}

.sqs-layout .sqs-row{
  margin-top: 0;
}

.pre-footer-inner a, .pre-footer-inner a:visited {
color: #3AC0DF!important;
border-bottom-color: #3AC0DF!important;
}

.pre-footer-inner a:hover {
color: #FFF!important;
}

/* TWITTER */
.twitter {
text-align: left;
}

.tweet-from a {
color: #646469!important;
}

.tweet-text {
color: black;
}

.tweet-text a {
color: #3ac0df !important;
font-size: 0.7em;
}

.tweet-text .hashtag {
color: #3ac0df!important;
font-size: 0.95em;
}

.tweet-timestamp a {
color: #000!important;
}

.twitter-block {
padding: 0 27px!important;
}

.twitter-block .tweet .tweet-text-wrapper {
margin-left: 0px!important;
text-align: left;
}

/* TWEET FOLLOW BTN */
.btn {
position: relative;
background-color: #3ac0df;
 background-image: none!important;
 border: none!important;
border-radius: 3px;
color: #FFF;
font-weight: 300;
 text-shadow: none!important;
cursor: pointer;
height: 18px;
max-width: 98%;
overflow: hidden;
font-family: 'Lato', sans-serif;
text-transform: uppercase;
}

/* FOOTER */
#footer h3 {
  font-weight: 600!important;
  text-align: center;
  color: #FFF!important;
}
.dot {
margin: 0;
display: inline-block;
font-size: 10.5px;
}
.force-mobile-nav #secondaryNavWrapper.nav-wrapper nav>div>a {
  transition: color 0.55s ease 0;
}

.force-mobile-nav #secondaryNavWrapper.nav-wrapper nav>div>a:hover {
  color: #FBB03B;
}

.copyright {
  font-family: 'Lato', sans-serif!important;
  font-size: 0.75em!important;
  color: #FFF!important;
  margin: 0!important;
  text-align: center;
}

/* FOOTER NAV */
#secondaryNavWrapper #secondaryNavigation>div {
display: inline-block!important;
padding: .7em!important;
}

#secondaryNavWrapper #secondaryNavigation div a, #secondaryNavWrapper #secondaryNavigation div label {
 display: block;
padding: 0!important;
}

.footer-inner .back-to-top {
text-align: center;
 margin: 0!important;
}

#overlay {
        position:fixed; 
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:#000;
        opacity:0.5;
        filter:alpha(opacity=50);
      }

      #modal {
        position:absolute;
        padding:8px;
                background: #FFF;
                transition: all 0.8s ease;
                width: 80%!important;
                left: 10%!important;
                top: 40%!important;
      }

      #modal #content {
        padding:1em 1em 0!important;
      }
  
  #modal p {
    margin: 0;
  }

      #close {
        position:absolute;
        background:url(../assets/close.png) 0 0 no-repeat;
        width:24px;
        height:27px;
        display:block;
        text-indent:-9999px;
        top:8px;
        right:8px;
      }
        .logo-crest {
            display: block;
            width: 100%;
            padding-bottom: 1em;
            float:left;
            }
      .characters {
              display: block;
              width: 100%;
            }


/* 213px */
@media only screen and (min-width: 13em) {
  .force-mobile-nav #mobileNavToggle:checked~#siteWrapper {
position: fixed;
-webkit-transform: translatex(-170px)!important;
-webkit-transform: translate3d(-170px,0,0)!important;
-moz-transform: translatex(-170px) translatez(0)!important;
-moz-transform: translate3d(-170x,0,0)!important;
-ms-transform: translatex(-170px) translatez(0)!important;
-ms-transform: translate3d(-170px,0,0)!important;
-o-transform: translatex(-170px) translatez(0)!important;
-o-transform: translate3d(-170px,0,0)!important;
transform: translatex(-170px) translatez(0)!important;
transform: translate3d(-170px,0,0)!important;
}

.tweet-text {
color: black;
padding-top: 0.5em;
}

.tweet-text .hashtag {
font-size: 1em;
}

.pre-footer-content a {
font-size: 0.6em !important;
}

.html-block a:not(.sqs-block-button-element) {
font-size: .6em !important;
}
}

/* 240px */
@media only screen and (min-width: 15em) {
#mobileNavToggle:checked~#siteWrapper {
position: fixed;
height: 100%;
-webkit-transform: translate3d(-192px,0,0)!important;
-moz-transform: translate3d(-192px,0,0)!important;
-ms-transform: translate3d(-192px,0,0)!important;
-o-transform: translate3d(-192px,0,0)!important;
transform: translate3d(-192px,0,0)!important;
}

.enable-nav-button #headerNav nav>div:not(.folder):last-child a, .enable-nav-button #sidecarNav nav>div:not(.folder):last-child a {
margin: 0!important;
padding: .76em 0em !important;
}

.enable-nav-button #headerNav nav>div:not(.folder):last-child a, .enable-nav-button #sidecarNav nav>div:not(.folder):last-child a {
  padding: .76em 0!important;
}

.pre-footer-content a {
font-size: .7em !important;
}

.twitter-block .tweet .tweet-from {
margin: 0 0 .5em 3em!important;
}
}

/* 320px */
@media only screen and (min-width: 20em) {
  .h1-visibility {
    display: block!important;
  }
  #sidecarNav {
width: 60% !important;
}
#header h1 {
font-size: 0.65em;
}
.tweet-text {
padding-top: 1.5em;
}

.html-block a:not(.sqs-block-button-element) {
font-size: 1em !important;
}

#modal {
top: 50%!important;
}

.logo-crest {
width: 50%!important;
padding: 1em 1em 0;
}
}

/* 360 px */
@media only screen and (min-width: 22em) {
  h1 {
    font-size: .75em !important;
  }

  #sidecarNav {
width: 54% !important;
}

.social-icons {
text-align: right;
margin-right: 45px;
display: block !important;
padding: 5% 0;
}
#header h1 {
font-size: 0.7em!important;
}
.pre-footer-content a {
font-size: 1em !important;
}
#modal {
  top: 20% !important;
}
}

/* 400 px */
@media only screen and (min-width: 25em) {
  #mobileNavToggle:checked~#siteWrapper {
position: fixed;
height: 100%;
-webkit-transform: translate3d(-215px,0,0) !important;
-moz-transform: translate3d(-215px,0,0) !important;
-ms-transform: translate3d(-215px,0,0) !important;
-o-transform: translate3d(-215px,0,0) !important;
transform: translate3d(-215px,0,0) !important;
}

#mobileNavToggle:checked~.body-overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 9999;
cursor: e-resize;
-webkit-transform: translatex(-215px) translatez(0);
-moz-transform: translatex(-215px) translatez(0);
-ms-transform: translatex(-215px) translatez(0);
-o-transform: translatex(-215px) translatez(0);
transform: translatex(-215px) translatez(0);
}
#header h1 {
font-size: .8em !important;
}
.logo-crest {
width: 40%!important;
padding: 0.8em;
}
}

/* 480 PX */
@media only screen and (min-width: 30em) {
  #sidecarNav {
width: 45% !important;
}
  #header h1 {
    font-size: 1em !important;
  }
#page{
padding: 0em 2em 0 2em !important;
}
#preFooter {
padding: 2em 2em 0 2em !important;
}

#footer {
padding: 2em;
}
}

/* 528 PX */
@media only screen and (min-width: 33em) {
  #header h1 {
    font-size: 1em !important;
  }

#mobileNavToggle:checked~#siteWrapper {
-webkit-transform: translate3d(-239px,0,0) !important;
-moz-transform: translate3d(-239px,0,0) !important;
-ms-transform: translate3d(-239px,0,0) !important;
-o-transform: translate3d(-239px,0,0) !important;
transform: translate3d(-239px,0,0) !important;
}

.pre-footer-content a {
font-size: .75em !important;
margin: 0 1em!important;
display: inline-block!important;
}

#modal #content {
padding: 2em 2em 0 !important;
}
}

/* 600 PX */
@media only screen and (min-width: 37em) {
#header h1 {
font-size: 1em !important;
padding: 0.7em 0!important;
}

.social-icons {
padding: 5% 0;
}

.mobile-nav-toggle-label {
 right: 30px!important;
}

#mobileNavToggle:checked~#siteWrapper {
-webkit-transform: translate3d(-270px,0,0) !important;
-moz-transform: translate3d(-270px,0,0) !important;
-ms-transform: translate3d(-270px,0,0) !important;
-o-transform: translate3d(-270px,0,0) !important;
transform: translate3d(-270px,0,0) !important;
}

.pre-footer-content a {
font-size: .9em !important;
}
}


/* 603 PX */
@media only screen and (min-width: 42em) {
  #header h1 {
    padding: 8% .5em!important;
  }
  .social-icons {
    padding: 4.5% 0 0;
  }
  .flex-logo {
  	width:100%;
  }
}

/* 720 PX */
@media only screen and (min-width: 45em) {
	.flex-logo {
width: 100%;
}
  #header h1 {
font-size: 1.05em !important;
}
.force-mobile-nav #mobileNavToggle:checked~#siteWrapper {
position: fixed;
-webkit-transform: translatex(-324px) !important;
-webkit-transform: translate3d(-324px,0,0) !important;
-moz-transform: translatex(-324px) translatez(0) !important;
-moz-transform: translate3d(-324px,0,0) !important;
-ms-transform: translatex(-324px) translatez(0) !important;
-ms-transform: translate3d(-324px,0,0) !important;
-o-transform: translatex(-324px) translatez(0) !important;
-o-transform: translate3d(-324px,0,0) !important;
transform: translate3d(-324px,0,0) !important;
}

.yui3-squarespacecalendar .yui3-calendar-grid {
width: 70%!important;
margin-left: 7em;
}

.yui3-squarespacecalendar .yui3-calendar-header {
margin: 0 7em 34px!important;
width: 70%;
}

#preFooter {
padding: 2em 7.4em!important;
}

#preFooter {
padding: 1em 7.4em 0 10.5em !important;
}

.pre-footer-content {
padding: 3em 1em!important;
}

.pre-footer-content a {
font-size: .9em !important;
margin: 0!important;
display: block!important;
}

.pre-footer-content > a:first-of-type {
margin-bottom: 1em !important;
}

#block-yui_3_17_2_2_1420920523009_10202 {
padding: 1em 2em;
}

#footer nav:not(.social-account-list) {
font-size: 0.65em!important;
}
#secondaryNavWrapper {
padding: 0 0 1em!important;
}

.html-block a:not(.sqs-block-button-element) {
font-size: 0.7em !important;
}

/*EVENTS*/
.eventlist--upcoming, .eventlist--past {
padding: 0em 5em 0 9em !important;
}

.logo-crest {
width: 30%!important;
padding: .8em;
}

#modal #content {
padding: 4em!important;
}
}

/* 768 PX */
@media only screen and (min-width: 48em) {
  #header h1 {
font-size: 1.1em !important;
}

#sidecarNav {
width: 42.2% !important;
}
#footer nav:not(.social-account-list) {
font-size: .7em !important;
}
.pre-footer-content {
padding: 3em 1.5em !important;
}
.pre-footer-content a {
font-size: .8em !important;
}

#block-yui_3_17_2_2_1420920523009_10202 {
padding: 1em 2.5em;
}

.force-mobile-nav .mobile-nav-toggle-label {
right: 16px !important;
}

.yui3-squarespacecalendar .yui3-calendar-grid {
margin-left: 7.4em;
}

.yui3-squarespacecalendar .yui3-calendar-header {
margin: 0 7.4em 1em !important;
}
}

/* 800 PX */
@media only screen and (min-width: 50em) {
  #header h1 {
font-size: 1.16em !important;
}

#sidecarNav {
width: 41% !important;
}
.pre-footer-content {
padding: 3em 1.7em !important;
}
.pre-footer-content a {
font-size: .85em !important;
}
#block-yui_3_17_2_2_1420920523009_10202 {
padding: 1em 2.7em;
}
.twitter-block {
padding: 0 90px!important;
}
/* FACEBOOK */
#block-yui_3_17_2_5_1424026798026_6004 {
  padding: 20px 90px!important;
}

.html-block a:not(.sqs-block-button-element) {
font-size: 0.8em !important;
}

.eventlist--upcoming, .eventlist--past {
padding: 0em 6em 0 9em !important;
}
}

/* 960 PX */
@media only screen and (min-width: 60em) {
  #sidecarNav {
width: 34% !important;
}
  #header h1 {
font-size: 1.4em !important;
padding: 5.4% .5em !important;
}
.force-mobile-nav .mobile-nav-toggle-label {
right: 22px !important;
}

.social-icons {
padding: 7.5% 1.5em 7.5% 0em;
}

#preFooter {
padding: 2em 9em !important;
}
.pre-footer-content a {
font-size: 1em !important;
}
}

/* 1024 PX */
@media only screen and (min-width: 64em) {
.sqs-col-9 .sqs-col-1 {
  width: 40px!important;
}
  #header h1 {
font-size: 1em !important;
padding: 0!important;
}
.header-inner .mobile-nav-toggle-label {
display: none!important;
}

.force-mobile-nav #mainNavWrapper {
background-color: transparent!important;
-webkit-overflow-scrolling: touch;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-transform: none!important;
-moz-transform: none!important;
-ms-transform: none!important;
-o-transform: none!important;
transform: none!important;
-webkit-transition: -webkit-transform 0s 0s ease-in-out;
-moz-transition: -moz-transform 0s 0s ease-in-out;
-ms-transition: -ms-transform 0s 0s ease-in-out;
-o-transition: -o-transform 0s 0s ease-in-out;
transition: transform 0s 0s ease-in-out;
}

.force-mobile-nav #header #headerNav {
display: block!important;
width: 142%;
overflow: hidden;
}

#header #mainNavWrapper {
position: relative;
z-index: 1000;
display: inline-block;
width: 140%!important;
}

.force-mobile-nav #mainNavWrapper nav {
 padding: 0!important; 
display: inline-block!important;
}

#header #headerNav {
 text-align: left!important; 
}

.force-mobile-nav #mainNavWrapper nav div a, .force-mobile-nav #mainNavWrapper nav div label {
display: block;
padding: 0em;
font-size: 0.7em!important;
}

.header-nav .dot {
padding: 0 1em;
font-size: 10px;
vertical-align: middle;
}

.header-nav {
padding: 2.8% 0 2.8% 2%;
}

.collection {
display: inline-block;
}

.tweet-text a {
font-size: 1em;
}

.yui3-squarespacecalendar .yui3-calendar-grid {
width: 65% !important;
margin-left: 11.4em;
}

.yui3-squarespacecalendar .yui3-calendar-header {
margin: 0 11.4em 1em !important;
width: 65%;
}

.social-icons {
padding: 13% 0;
}

#preFooter {
padding: 1em 10em 0 14.5em !important;
}

.pre-footer-content a {
display: inline-block !important;
}

.pre-footer-content>a:first-of-type {
margin-right: 1em !important;
margin-bottom: 0!important;
}

.html-block a:not(.sqs-block-button-element) {
font-size: .65em !important;
}

.eventlist--upcoming, .eventlist--past {
padding: 0em 8em 0 13em !important;
}

#modal {
width: 40%!important;
left: 30%!important;
top: 30% !important;
}

#modal #content {
padding: 2em !important;
}
}

/* 1100 PX */
@media only screen and (min-width: 68em) {
  #preFooter {
padding: 1em 11em 0 16.3em !important;
}

.yui3-squarespacecalendar .yui3-calendar-grid {
width: 65% !important;
margin-left: 11.9em;
}
.yui3-squarespacecalendar .yui3-calendar-header {
margin: 0 11.9em 1em !important;
width: 65%;
}
}

/* 1280 PX */
@media only screen and (min-width: 80em) {
  #header h1 {
font-size: 1.45em !important;
}

.force-mobile-nav #mainNavWrapper nav div a, .force-mobile-nav #mainNavWrapper nav div label {
font-size: .8em !important;
}

.header-nav {
padding: 2.7% 0 2.7% 2%;
}

#preFooter {
padding: 1em 17em 0 21.3em !important;
}

.yui3-squarespacecalendar .yui3-calendar-grid {
margin-left: 11.4em;
}

.yui3-squarespacecalendar .yui3-calendar-header {
margin: 0 11.4em 1em !important;
}
}

/* 1366 PX */
@media only screen and (min-width: 85em) {
  #header h1 {
font-size: 1.2em !important;
padding: 0em!important;
}
.social-icons {
padding: 2.6em 1em;
}
#headerNav nav a, #sidecarNav nav a, #headerNav nav a:visited, #sidecarNav nav a:visited, #headerNav nav label, #sidecarNav nav label {
font-size: 0.85em;
}
#headerNav .dot {
padding: 0 1em;
margin: 0% 0;
font-size: 0.7em;
}
#headerNav a {
padding: 0.5em 0!important;
}
#headerNav nav a {
font-size: 0.85em!important;
}
.header-nav {
padding: 3.5% 0 3.5% 2%;
}
.mobile-nav-toggle-label {
display: none!important;
}
.header-inner .mobile-nav-toggle-label {
display: none!important;
}
.transparent-header.view-list .banner-thumbnail-wrapper, .transparent-header.collection-type-page .banner-thumbnail-wrapper {
padding-bottom: 230px!important;
}

#preFooter {
padding: 1em 18em 0 23.7em !important;
}

.yui3-squarespacecalendar .yui3-calendar-grid {
margin-left: 12em;
}

.yui3-squarespacecalendar .yui3-calendar-header {
margin: 0 12em 1em !important;
}

#modal #content {
padding: 3em !important;
}
}

/* 1440 PX */
@media only screen and (min-width: 89em) {     

.transparent-header.view-list .banner-thumbnail-wrapper, .transparent-header.collection-type-page .banner-thumbnail-wrapper {
padding-bottom: 17.5% !important;
}
#preFooter {
padding: 1em 20em 0 25.8em !important;
}
#footer h3 {
font-size: 1em;
}
#footer nav:not(.social-account-list) {
font-size: .8em !important;
}

.yui3-squarespacecalendar .yui3-calendar-grid {
width: 75% !important;
margin-left: 9.45em;
}

.yui3-squarespacecalendar .yui3-calendar-header {
margin: 0 9.45em 1em !important;
width: 75%;
}
}

/* 1600 PX */
@media only screen and (min-width: 100em) {
  .social-icons {
padding: 3em 1em;
}
#preFooter {
padding: 1em 25em 0 30.2em !important;
}
#modal #content {
padding: 4.5em !important;
}
}

/* 1680 PX */
@media only screen and (min-width: 105em) {
  #header h1 {
font-size: 1.5em !important;
}

.social-icons {
padding: 3.2em 1em;
}

#preFooter {
padding: 1em 27em 0 32.4em !important;
}
}

/* 1920 PX */
@media only screen and (min-width: 120em) {
#header h1 {
font-size: 2em !important;
}

#headerNav nav a {
font-size: 1em !important;
}

.social-icons {
padding: 3.6em 1em;
}

#preFooter {
padding: 1em 34em 0 39em !important;
}
}